/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-container {
  display: inline-block;
  vertical-align: top;
}

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
}

.story-title {
  margin-bottom: .5em;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-bottom: .5em;
  color: green;
}

.story-user {
  display: block;
  color: orange;
}

.delete-btn {
  color: red;
}

.delete-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.star:hover {
  cursor: pointer;
}